* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-image: url("img/bg-seriales.png");
}

.imagenesnav {
  display: flex;
  justify-content: space-between;
}

.banner {
  height: 90px;
  align-self: center;
  opacity: 0.6;
  box-shadow: #D0D0D0 2px 5px;
}

.botonesNav {
  display: flex;
  background-color: #F34573;
  box-shadow: #D0D0D0 1px 3px;

}

.botonesNav li a {
  display: inline-block;
  color: #E8E8E8;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}

.tarjeta {
  background-color: rgba(117, 202, 195, 0.7);
  display: flex;
}

.titulo {
  font-family: 'Fjalla One', sans-serif;
  align-self: center;
  background-color: white;
  box-shadow: #D0D0D0 1px 3px;

  padding: 20px;
  border-bottom-right-radius: 20px;
}

.tarjeta {
  height: 60vh;
  display: flex;
}

.pregunta {
  width: 40%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.pregunta article {
  margin: auto;
}

.pregunta article button {
  border: solid gray 2px;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  align-self: center;
  color: #393e46;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  }

  .footer {
    display: flex;
    background-color: #2a6171;
    margin-top: 15px;
    box-shadow: #D0D0D0 1px 3px;
  }

  .footer li a {
    display: inline-block;
    color: #E8E8E8;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
  }
